<p>Hey, i'm AppComponent, my title is {{ title | uppercase }}</p>

<div *ngFor="let movie of movies">
    <div class="movie" *ngIf="movie.country == defaultCountry">
      <h2 class="title"
          [ngClass] ="{'old': movie.year < 2014}"
      >
        {{movie.title}}
      </h2>
      <h3>{{movie.year}}</h3>
    </div>

</div>

<ul>
  <li [ngClass]= "{'clicked': defaultCountry == 'us'}"
   (click) ="defaultCountry='us'">
    [us]
  </li>
  <li [ngClass]= "{'clicked': defaultCountry == 'br'}"
  (click)="defaultCountry='br'">
    [br]
  </li>
</ul>
