<p id="moviestitle">Movies</p>

<div *ngFor="let movie of movies">
    <!-- <div class="movie" *ngIf= "(movie.country == defaultCountry) || defaultCountry =='all'"> -->
      <!-- <h2 class="title"
          [ngClass] ="{'old': movie.year < 2014}"
      >
        {{movie.title}}
      </h2>
      <h3>{{movie.year}}</h3>
    </div> -->


    <mat-card class="card">
      <mat-card-content *ngIf= "(movie.country == defaultCountry) || defaultCountry =='all'">
        <img mat-card-image src="{{movie.src}}">
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
</div>


<div id="filter">
<mat-form-field>
  <mat-label>Countries</mat-label>
  <mat-select size="1" [(ngModel)] = "defaultCountry">
    <mat-option value="all" Select>All</mat-option>
    <mat-option *ngFor='let country of countries' [value]="country">
      {{country}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
