<!-- width de 100% align all child elements to center-->
<div id="titleAllMovies" class="title_holder">
  <!-- with_2 de ??? + add border-->
  <div class="title">
    <h1 class="text">movies</h1>
  </div>
</div>


<div id="filter" class="input_wrapper">
  <div class="input_wrapper--year" style="
  padding-bottom: 20px;
  margin-right: 15px;
">
    <mat-toolbar>
      <mat-form-field>
        <mat-label>By years</mat-label>
        <mat-select [(ngModel)] = "defaultYear">
          <mat-option value="0" Select>All</mat-option>
          <mat-option *ngFor="let year of years" value="{{year}}">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-toolbar>
  </div>
  <div class="input_wrapper--input">
    <app-search (movies)="receiveMovies($event)"></app-search>
  </div>
</div>



<div *ngFor="let movie of movies" [hidden]="!((movie.year == defaultYear) || defaultYear == 0)">
    <mat-card class="card">
      <mat-card-content *ngIf= "(movie.year == defaultYear) || defaultYear == 0">
        <img mat-card-image src="{{movie.src}}">
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

<!-- <div id="filter">
<mat-form-field>
  <mat-label>Countries</mat-label>
  <mat-select size="1" [(ngModel)] = "defaultCountry">
    <mat-option value="all" Select>All</mat-option>
    <mat-option *ngFor='let country of countries' [value]="country">
      {{country}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>-->
