$default-font-color: hsl(200, 52%, 25%);

div {
  color: $default-font-color;
  &.movie {
    min-width: 10em;
    width: auto;
    min-height: 5em;
    height: auto;

    h2 {
      &.title {
        font-family:'fav';
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: rgb(238, 8, 104);
      }
    }
  }
}
    ul {
      list-style: none;
      display: flex;
      width: 10%;
      justify-content: space-around;

      li {
        cursor: pointer;
        &.clicked {
          color: cadetblue;
        }
      }
    }

.title_holder {
  padding: 37px;
}


h1 {
  font-family: 'cool';
  font-size: 6em;
  color: red;
  margin: 0;
}

.title {
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 24px 20px;
  border: 3px solid #000;
  border-radius: 10px;
}

.input_wrapper {
  background-color: #dfd9db;
  padding: 15px 0;
  max-width: 100%;
}


.setMovies {
  display: inline-flex;
  margin: auto;;
}

mat-card {
  max-width: 100%;
  margin: 12px;
  border-radius: 18px;
}

#filter {
  display: flex;
  align-items: center;
}
